# Greeks Validation Notebook

This notebook is for validation and case studies:
- Validate greeks calculations against textbook behavior
- Test hedge effectiveness
- Run scenario analysis

In [2]:
import sys
import os

# Add src directory to Python path
# Get the project root (assumes notebook is run from project root or notebooks directory)
current_dir = os.getcwd()
if os.path.basename(current_dir) == 'notebooks':
    project_root = os.path.dirname(current_dir)
else:
    project_root = current_dir

src_path = os.path.join(project_root, 'src')
if os.path.exists(src_path) and src_path not in sys.path:
    sys.path.insert(0, src_path)

import pandas as pd
import numpy as np
from data_loader import DataLoader
from greeks_calculator import GreeksCalculator
from portfolio_aggregator import PortfolioAggregator
from hedge_optimizer import HedgeOptimizer

In [3]:
data_loader = DataLoader()
data_loader.load_all_data(symbols=["AAPL", "GOOG", "MSFT", "AMZN", "TSLA"])

Loading all required data
Using cached stock data for 5 symbols
Saved market_data.csv (5 rows)
Fetching risk-free rates
Using yfinance fallback for Treasury rates
Fetched 9 risk-free rate tenors
Saved rates.csv (9 rows)
Building volatility surface for 5 symbols
Using cached stock data for 5 symbols
Fetching options chain for AAPL
Fetched 2360 options for AAPL
Fetching options chain for GOOG
Fetched 2255 options for GOOG
Fetching options chain for MSFT
Fetched 2829 options for MSFT
Fetching options chain for AMZN
Fetched 2014 options for AMZN
Fetching options chain for TSLA
Fetched 4998 options for TSLA
Built volatility surface with 11646 points
Saved vol_surface.csv (11646 rows)
Generating 20 synthetic positions
Using cached stock data for 5 symbols
Saved positions.csv (20 rows)
Generated 20 positions
Data loading complete

{'market_data':   symbol  spot_price  dividend_yield  borrow_cost_bps  \
 0   AAPL      258.21            0.40           210.00
 1   GOOG      333.16            0.25            16.01
 2   MSFT      456.66            0.80            19.42
 3   AMZN      238.18            0.00            21.77
 4   TSLA      438.57            0.00            26.69

                  last_updated
 0  2026-01-16T14:37:24.206316
 1  2026-01-16T14:37:24.206316
 2  2026-01-16T14:37:24.206316
 3  2026-01-16T14:37:24.206316
 4  2026-01-16T14:37:24.206316  ,
 'rates':    tenor_days     rate
 0          30  0.03565
 1          90  0.03565
 2         180  0.03565
 3         365  0.03565
 4         730  0.03762
 5        1095  0.03762
 6        1825  0.03762
 7        2555  0.03762
 8        3650  0.04160,
 'vol_surface':       symbol      expiry  strike  moneyness  implied_vol
 0       AAPL  2026-01-16   130.0   0.503466     0.000010
 68      AAPL  2026-01-16   130.0   0.503466     0.500005
 1       AAPL  2026-01-16   135.0   0.522830     0.000010
 69      AAPL  2026-01-16   135.0   0.522830     0.500005
 2       AAPL  2026-01-16   140.0   0.542194     0.000010
 ...      ...         ...     ...        ...          ...
 11607   TSLA  2028-12-15   820.0   1.869713     0.062509
 11608   TSLA  2028-12-15   830.0   1.892514     0.062509
 11609   TSLA  2028-12-15   850.0   1.938117     0.062509
 11610   TSLA  2028-12-15   860.0   1.960918     0.062509
 11611   TSLA  2028-12-15   870.0   1.983720     0.062509

 [11646 rows x 5 columns],
 'positions':    position_id symbol  quantity instrument_type  strike      expiry  \
 0     POS_0001   AMZN       131          equity     NaN        None
 1     POS_0002   MSFT      -816          equity     NaN        None
 2     POS_0003   MSFT       -28          option  468.75  2026-05-01
 3     POS_0004   MSFT       223          equity     NaN        None
 4     POS_0005   AMZN       -14          equity     NaN        None
 5     POS_0006   TSLA        65          option  446.25  2026-05-03
 6     POS_0007   TSLA       -44          option  521.90  2026-09-28
 7     POS_0008   TSLA       313          equity     NaN        None
 8     POS_0009   GOOG      -946          equity     NaN        None
 9     POS_0010   AAPL        19          option  306.60  2026-07-16
 10    POS_0011   AAPL       151          equity     NaN        None
 11    POS_0012   TSLA       -54          option  506.59  2026-08-17
 12    POS_0013   MSFT        67          option  452.62  2026-12-15
 13    POS_0014   AAPL       -78          option  297.52  2026-03-10
 14    POS_0015   AAPL      -797          equity     NaN        None
 15    POS_0016   MSFT       221          equity     NaN        None
 16    POS_0017   GOOG       -47          option  392.59  2027-01-05
 17    POS_0018   TSLA       658          equity     NaN        None
 18    POS_0019   TSLA      -158          equity     NaN        None
 19    POS_0020   AAPL       -18          option  212.19  2026-11-03

    option_type
 0         None
 1         None
 2          put
 3         None
 4         None
 5          put
 6          put
 7         None
 8         None
 9          put
 10        None
 11        call
 12        call
 13        call
 14        None
 15        None
 16        call
 17        None
 18        None
 19        call  }

In [4]:
greeks_calculator = GreeksCalculator()
greeks_calculator.run_pipeline()

,position_id,symbol,quantity,instrument_type,strike,expiry,option_type,spot_price,dividend_yield,borrow_cost_bps,...,delta,gamma,vega,theta,rho,position_delta,position_gamma,position_vega,position_theta,position_rho
0,POS_0001,AMZN,131,equity,NaN,NaN,NaN,238.18,0.00,21.77,...,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.310000e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
1,POS_0002,MSFT,-816,equity,NaN,NaN,NaN,456.66,0.80,19.42,...,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-8.160000e+02,-0.000000e+00,-0.000000e+00,-0.000000e+00,-0.000000e+00
2,POS_0003,MSFT,-28,option,468.75,2026-05-01,put,456.66,0.80,19.42,...,-9.854979e-01,1.103023e-02,8.967103e+00,1.609128e+01,-1.303297e+02,2.759394e+01,-3.088464e-01,-2.510789e+02,-4.505557e+02,3.649232e+03
3,POS_0004,MSFT,223,equity,NaN,NaN,NaN,456.66,0.80,19.42,...,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.230000e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
4,POS_0005,AMZN,-14,equity,NaN,NaN,NaN,238.18,0.00,21.77,...,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-1.400000e+01,-0.000000e+00,-0.000000e+00,-0.000000e+00,-0.000000e+00
5,POS_0006,TSLA,65,option,446.25,2026-05-03,put,438.57,0.00,26.69,...,-9.960472e-01,1.013666e-02,2.770384e+00,1.565987e+01,-1.277580e+02,-6.474307e+01,6.588829e-01,1.800750e+02,1.017891e+03,-8.304273e+03
6,POS_0007,TSLA,-44,option,521.90,2026-09-28,put,438.57,0.00,26.69,...,-1.000000e+00,7.116778e-51,1.132132e-47,1.814983e+01,-3.542860e+02,4.400000e+01,-3.131382e-49,-4.981380e-46,-7.985927e+02,1.558858e+04
7,POS_0008,TSLA,313,equity,NaN,NaN,NaN,438.57,0.00,26.69,...,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.130000e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
8,POS_0009,GOOG,-946,equity,NaN,NaN,NaN,333.16,0.25,16.01,...,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-9.460000e+02,-0.000000e+00,-0.000000e+00,-0.000000e+00,-0.000000e+00
9,POS_0010,AAPL,19,option,306.60,2026-07-16,put,258.21,0.40,210.00,...,-1.000000e+00,0.000000e+00,0.000000e+00,1.073981e+01,-1.485650e+02,-1.900000e+01,0.000000e+00,0.000000e+00,2.040563e+02,-2.822735e+03
10,POS_0011,AAPL,151,equity,NaN,NaN,NaN,258.21,0.40,210.00,...,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.510000e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
11,POS_0012,TSLA,-54,option,506.59,2026-08-17,call,438.57,0.00,26.69,...,1.987346e-15,2.302662e-15,5.300209e-12,-1.250195e-13,5.052593e-13,-1.073167e-13,-1.243438e-13,-2.862113e-10,6.751051e-12,-2.728400e-11
12,POS_0013,MSFT,67,option,452.62,2026-12-15,call,456.66,0.80,19.42,...,1.000000e+00,1.204894e-117,4.272401e-115,-1.562106e+01,3.985622e+02,6.700000e+01,8.072788e-116,2.862509e-113,-1.046611e+03,2.670367e+04
13,POS_0014,AAPL,-78,option,297.52,2026-03-10,call,258.21,0.40,210.00,...,8.118297e-31,3.058062e-30,9.152652e-28,-1.086817e-28,2.983358e-29,-6.332272e-29,-2.385288e-28,-7.139068e-26,8.477176e-27,-2.327019e-27
14,POS_0015,AAPL,-797,equity,NaN,NaN,NaN,258.21,0.40,210.00,...,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-7.970000e+02,-0.000000e+00,-0.000000e+00,-0.000000e+00,-0.000000e+00
15,POS_0016,MSFT,221,equity,NaN,NaN,NaN,456.66,0.80,19.42,...,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.210000e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
16,POS_0017,GOOG,-47,option,392.59,2027-01-05,call,333.16,0.25,16.01,...,2.106197e-16,3.274990e-16,5.694312e-13,-7.265214e-15,6.773416e-14,-9.899126e-15,-1.539246e-14,-2.676327e-11,3.414651e-13,-3.183506e-12
17,POS_0018,TSLA,658,equity,NaN,NaN,NaN,438.57,0.00,26.69,...,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.580000e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
18,POS_0019,TSLA,-158,equity,NaN,NaN,NaN,438.57,0.00,26.69,...,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-1.580000e+02,-0.000000e+00,-0.000000e+00,-0.000000e+00,-0.000000e+00
19,POS_0020,AAPL,-18,option,212.19,2026-11-03,call,258.21,0.40,210.00,...,1.000000e+00,1.259112e-40,1.257135e-37,-7.353316e+00,1.638811e+02,-1.800000e+01,-2.266402e-39,-2.262844e-36,1.323597e+02,-2.949859e+03